/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}




/* Header*/









/* Main*/






/* Footer*/