/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.container {
    max-width: 1800px;
    margin: 0px auto;
}


/* Header*/

header {
    height: 90px;
    background-color: black;
}



.navbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }


.navbar-right {
  color: white;
  margin-right: 8px;
}


.grey-back {
    background-color: grey;
    padding: 4px;
    margin: 2px;
}



/* Main*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}




/* Footer*/

footer {
    height: 90px;
    background-color: black;
}