/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.container {
    max-width: 1800px;
    margin: 0px auto;
}


/* Header*/

header {
    height: 80px;
    background-color: black;
}



.navbar {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }


.navbar-right {
  color: white;
  margin-right: 8px;
}


.grey-back {
    background-color: grey;
    padding: 4px;
    margin: 2px;
}



/* Main*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 16px;
}

main {
    height: calc(100vh - 160px);
    overflow-y: auto;
    background-color: black
}

.card {
    position: relative;
    margin: ; 

}

.card img {
    max-width: 98%;
}


.favourite-gr {
    position: absolute;
    top: ;
    bottom: 6px;
}

.favourite-gr > span {
    background: grey;
    color: white;
    padding: 2px;
}





/* Footer*/

footer {
    height: 80px;
    background-color: black;
    color: white;
    
}


h4 {
  margin-top: 15px;
}

.text-icon-footer {
  position: ;
  flex-basis: ;
  display: flex;
  align-items: center;
}

